<template>
  <div class="hello" id="nav">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <img src="@/assets/LogoMedcal.png" class="img" alt />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-city"></i> Ciudades
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <router-link class="dropdown-item" to="/Addcities">
                <i class="fas fa-user-plus"></i> Añadir
              </router-link>
              <router-link class="dropdown-item" to="ViewCities">
                <i class="far fa-eye"></i> Ver Ciudades
              </router-link>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >Servicios</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <router-link class="dropdown-item" to="/addservices">
                <i class="fas fa-user-plus"></i> Añadir
              </router-link>
              <router-link class="dropdown-item" to="/viewservices">
                <i class="far fa-eye"></i> Ver Servicios
              </router-link>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >Citas</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <router-link class="dropdown-item" to="/vieworders">
                <i class="far fa-eye"></i> Ver Citas
              </router-link>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user-tie"></i> Administradoras
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <router-link class="dropdown-item" to="/Addadmin">
                <i class="fas fa-user-plus"></i> Añadir
              </router-link>
              <router-link class="dropdown-item" to="/Admin">
                <i class="far fa-eye"></i> Ver Administradoras
              </router-link>
            </div>
          </li>

          <li class="nav-item des">
            <router-link class="nav-link" to="/Login">Desconectar</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: "Nav",
  components: {},
  props: {
    msg: String
  },
  data() {
    return {};
  },

  methods: {}
};
</script>
<style scoped>
.img {
  width: 70px;
}
</style>

