<template>
  <div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="contact">
              <h1>Contact</h1>
              <li>
                <strong>Movil :</strong> 00000000000
              </li>

              <li>
                <strong>Gmail :</strong> Example@gmail.com
              </li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="social">
              <h1>Social</h1>
              <li>
                <a href="https://www.facebook.com/ " target="_blank" title="faceboook">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="https://www.instagram.com/" target="_blank" title="instagram">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/" target="_blank" title="twiitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<style  scoped>
h1 {
  color: #fff;
}
i {
  font-size: 40px;
  margin: 10px;
}
footer {
  background-color: #33383c;
  padding: 70px 0px;
}

footer ul li {
  padding: 5px 0px;
  color: #fff;
}

.adress span,
.contact span,
.social span {
  color: #fff;
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.adress li p,
.contact li a,
.social li a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
}

.social li {
  float: left;
}

.adress,
.contact,
.social {
  list-style: none;
}

.fa {
  color: #9c9c9c;
  margin-right: 15px;
  font-size: 14px;
}
</style>