<template>
  <div class="editcity">
    <div calss="container">
      <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

      <div class="form col-md-7 mx-auto">
        <div class="note">
          <p>Actualizar Ciudad</p>
        </div>
        <br />
        <div class="form-content">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="localcity.id_city"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="localcity.name_city"
              />
            </div>

            <button
              type="button"
              class="btnAdd btn-success btn-lg btn-block btnSubmit"
              @click="updateCities"
            >Editar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//import api from "@/api.js";
export default {
  components: {},
  props: {
    cityedit: {
      propType: Object,
      required: true
    }
  },
  data() {
    return {
      localcity: {}
    };
  },
  watch: {
    cityedit: {
      immediate: true,
      handler: function(newcity) {
        this.localcity = JSON.parse(JSON.stringify(newcity));
      }
    }
  },

  methods: {
    async updateCities() {
      this.$emit("edit-cities", this.localcity);
      this.$router.push("/ViewCities");
    }
  }
};
</script>
<style scoped>
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;

  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 0.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #00ce1b;
  color: #fff;
}
.form {
  margin-top: -650px;
}
img {
  width: 100%;
}
@media (max-width: 1620px) {
  .editcity {
    margin-top: 728px;
    background: -webkit-linear-gradient(left, #00ffdd, #11c571);
    height: 600px;
  }

  .img {
    display: none;
  }
}
</style>
