<template>
  <div id="editecities">
    <EditCity :cityedit="cityedit" @edit-cities="ediycity" />
  </div>
</template>
<script>
import EditCity from "./EditCity.vue";
import api from "@/api.js";
export default {
  name: "Editecities",
  components: {
    EditCity
  },
  props: {},
  data() {
    return {
      cityedit: [],
      idcity: null
    };
  },
  mounted() {
    this.editcities();
  },
  methods: {
    async editcities(idcity) {
      idcity = this.$route.params.idcity;
      this.cityedit = await api.editdisplaycity(idcity);
    },
    async ediycity(localcity) {
      let idcities = localcity.idcity;
      await api.updateCity(idcities, localcity);
    }
  }
};
</script>