<template>
  <tr>
    <td>{{ admin.id_Admin }}</td>
    <td>{{ admin.name_Admin }}</td>
    <td>{{admin.Email_Admin}}</td>
    <td>{{admin.Pssword_Admin}}</td>
    <td>
      <router-link :to="'/Editadmine/'+admin.idadmin">
        <button type="button" title="Editar" class="btn btn-outline-success">
          <i class="far fa-edit"></i>
        </button>
      </router-link>

      <button
        type="button"
        title="Borar"
        @click="deletAdmin"
        class="btn btn-outline-danger btndelete"
      >
        <i class="fas fa-user-minus"></i>
      </button>
    </td>
  </tr>
</template>
<script>
export default {
  name: "Citiesitms",
  components: {},
  props: {
    admin: {
      propType: Object,
      required: true
    }
  },

  methods: {
    deletAdmin() {
      this.$emit("admin-delete", this.admin.idadmin);
    }
  }
};
</script>
<style scoped>
button {
  margin: 10px;
  font-size: 10px;
  margin-top: -1px;
}
@media (max-width: 700px) {
  td {
    font-size: 10px;
  }
}
</style>
