<template >
  <div>
    <header>
      <video autoplay muted loop>
        <source src="@/assets/AMERICANHOSPITAL.mp4" type="video/mp4" />
      </video>
    </header>

    <section id="contact" class="home-section text-center">
      <div class="container">
        <div class="sec-title text-center">
          <h3>Pedir Cita</h3>
          <div
            v-show="warningmessage"
            id="warning"
            class="alert alert-success"
            role="alert"
          >Has reservado una cita</div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="boxed-grey">
              <form id="contact-form" action method="post" role="form" class="contactForm">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="label" for="name">Elegir Servicio</label>
                      <select class="form-control" v-model="orders.nameService">
                        <option
                          v-for="(listservices, index) in services"
                          :key="index"
                          :value="listservices.name_services"
                        >{{listservices.name_services}}</option>
                      </select>
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <label class="label" for="email">Elegir Ciudad</label>
                      <div class="form-group">
                        <select class="form-control" v-model="orders.nameCity">
                          <option
                            v-for="(listCity, index) in city"
                            :key="index"
                            :value="listCity.name_city "
                          >{{listCity.name_city}}</option>
                        </select>

                        <div class="validation"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label" for="phone">Nombre Y Apellido</label>
                      <input
                        type="text"
                        required
                        class="form-control name"
                        id="exampleInputEmail1"
                        v-model="orders.name_orders"
                      />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <label class="label" for="phone">Correo</label>
                      <input
                        type="text"
                        required
                        class="form-control email"
                        id="exampleInputEmail1"
                        v-model="orders.email_orders"
                      />

                      <div class="validation"></div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="label" for="phone">Móvil</label>
                      <input
                        type="text"
                        required
                        class="form-control phone"
                        id="exampleInputEmail1"
                        v-model="orders.phone_ordres"
                      />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <label class="label" for="message">Message</label>
                      <textarea class="form-control message" rows="8" v-model="orders.notes_ordres"></textarea>
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <label for="remember-me" class="text-info">
                        <span>
                          <input id="remember-me" name="remember-me" type="checkbox" />
                          RECUÉRDA ME
                        </span>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <button
                      type="button"
                      @click="send"
                      data-brackets-id="4349"
                      class="submit-btn btnAddOrders btn-change7 pull-right"
                    >Enviar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Linding />
    <br />

    <Photos />
    <Footer />
  </div>
</template>
<script>
import Linding from "@/components/AddOrders/Linding.vue";
import Photos from "@/components/AddOrders/Photos.vue";
import Footer from "@/components/Footer/Footer.vue";
import api from "@/api.js";
export default {
  components: {
    Linding,
    Photos,
    Footer
  },
  props: {
    city: {
      propType: Object,
      required: true
    },
    services: {
      propType: Object,
      required: true
    }
  },
  data() {
    return {
      url_city: "/api/cities",
      url_service: "/api/services",

      orders: {
        nameService: null,
        nameCity: null,
        name_orders: null,
        email_orders: null,
        phone_ordres: null,
        notes_ordres: null
      },
      warningmessage: false
    };
  },
  mounted() {
    this.displaycity();
    this.displayservices();
  },
  methods: {
    async displaycity() {
      this.city = await api.display_city();
    },
    async displayservices() {
      this.services = await api.display_Services();
    },

    async send() {
      await api.getOrders(this.orders);
      this.warningmessage = true;
      this.orders = "";
    }
  }
};
</script>
<style scoped>
video {
  width: 100%;
  margin-top: -150px;
}

/******************************************** */

form.contact-form.row {
  padding: 15px 70px;
}

.row .contact-main {
  padding: 0 20px;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  float: left;
  width: 100%;
  padding: 40px 0px;
}

.get-in-touch .head span {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #4aba32;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #4aba32;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 30px;
  border: none;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

i.fa.fa-paper-plane {
  margin-right: 11px;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}

.note .link {
  color: #888;
  text-decoration: none;
}

.note .link:hover {
  text-decoration: underline;
}

.btn-bs-file {
  position: relative;
}

.btn-bs-file input[type="file"] {
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit;
}

.btn-primary {
  color: #fff;
  background-color: #4aba32;
  border-color: #4aba32;
  border-radius: 0;
}

.new-con {
  text-align: left !important;
}

.new-con span {
  margin-right: 20px;
}
ontact {
  text-align: left;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}
#contact {
  background-image: url(http://mitdevelop.com/Preet-Dietitian/assets/images/contact.jpg);
  padding: 20px 0px 20px 0px;
  float: left;
  width: 100%;
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  font-family: "Courgette", cursive;
}

form#contact-form {
  padding-top: 40px;
}

#contact .sec-title h1 {
  color: #fff;
}

#contact .sec-title h3 {
  color: #0c8e78;
}

#contact .form-control {
  font-size: 16px;
  height: 42px;
  border: 1px solid #00a98f;
  margin-top: 22px;
  color: #000;
  background-color: transparent;
  font-family: "Courgette", cursive;
}

#contact textarea {
  height: 170px !important;
}

#contact button {
  background-color: transparent;
  border: 1px solid #0c8e78;
  border-radius: 50px;
}

form#contact-form .form-group label {
  text-align: left !important;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

form#contact-form input,
form#contact-form select,
form#contact-form textarea {
  border-radius: 0;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
  text-align: left;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}
.submit-btn {
  display: inline-block;
  background-color: #4aba32;
  color: #000000;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 30px;
  border: none;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
</style>
