<template>
    <div class="container">
        <br />
        <h1>Doctores</h1>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <div>
                    <img
                        class="bd-placeholder-img rounded-circle"
                        width="250"
                        height="250"
                        src="@/assets/Ahmed-Shabana-235x300.jpg"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: 140x140"
                    />
                    <rect width="100%" height="100%" fill="#777" />
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    <h1>Dr. Ahmed Atef</h1>
                </div>

                <h5>Especialista (años de experiencia: 11)</h5>
                <h4>Especialidades</h4>
                <p>
                    Se especializa en el tratamiento y prevención de
                    enfermedades que afectan los ojos y la visión.
                </p>
                <h4>Idiomas hablados</h4>
                <p>árabe, inglés, español</p>
                <h4>Educación</h4>
                <p>
                    Egypt
                    Switzerland
                    United Kingdom
                </p>
                <h4>Calificaciones médicas</h4>
                <p>
                    Maestría en Oftalmología, Universidad Al Azhar, Egipto
                    Licenciatura en Medicina y Cirugía, Universidad de El Cairo, Egipto
                </p>
                <h4>Diploma</h4>
                <p>Certificado en Cirugía de Glaucoma, Jules Gonin Eye Hospital, Suiza</p>
                <h4>Residencia</h4>
                <p>Residencia en Oftalmología, Universidad Misr de Ciencia y Tecnología, Egipto</p>
                <h4>Afiliación</h4>
                <p>
                    Miembro del Real Colegio de Cirujanos de Edimburgo.
                    Miembro de la Sociedad Internacional de Cirujanos de Glaucoma.
                </p>
            </div>
            <div class="col-md-4">
                <div>
                    <img
                        class="bd-placeholder-img rounded-circle"
                        width="250"
                        height="250"
                        src="@/assets/descarga.png"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: 140x140"
                    />
                    <rect width="100%" height="100%" fill="#777" />
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </div>
                <h1>Dr. Nadim Habash</h1>
                <h5>Especialista (años de experiencia: 27)</h5>
                <h4>Especialidades</h4>
                <p>
                    Se especializa en el tratamiento y prevención
                    de enfermedades que afectan los ojos y la visión.
                </p>
                <h4>Idiomas hablados</h4>
                <p>Ingles,arabic</p>
                <h4>Educación</h4>
                <p>
                    Reino Unido y
                    Estados Unidos de America
                </p>
                <h4>Calificaciones médicas</h4>
                <p>Doctor en Medicina, Oftalmología, Universidad de Bagdad, Iraq.</p>
                <h4>Compañerismo</h4>
                <p>
                    Miembro del Colegio Americano de Cirujanos, EE. UU.
                    Miembro del Royal College of Surgeons, Reino Unido.
                </p>
                <h4>Tablero</h4>
                <p>Junta Americana de Oftalmología</p>
            </div>

            <div class="col-md-4">
                <div>
                    <img
                        class="bd-placeholder-img rounded-circle"
                        width="250"
                        height="250"
                        src="@/assets/descarga (1).png"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: 140x140"
                    />
                    <rect width="100%" height="100%" fill="#777" />
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </div>
                <h1>Dr. Mohamed Ramadan</h1>
                <h5>Consultor (Años de experiencia: 20)</h5>
                <h4>Especialidades</h4>
                <p>
                    Se especializa en el tratamiento y prevención
                    de enfermedades que afectan los ojos y la visión.
                </p>
                <h4>Idiomas hablados</h4>
                <p>Ingles,arabic</p>
                <h4>Educación</h4>
                <p>Egipto, Reino Unido</p>
                <h4>Calificaciones médicas</h4>
                <p>
                    Máster en Oftalmología, Universidad Ain Shams, Egipto.
                    Doctor en Medicina en Oftalmología, Universidad Ain Shams, Egipto.
                    Licenciatura en Medicina y Cirugía, Universidad Ain Shams, Egipto
                </p>
                <h4>Compañerismo</h4>
                <p>Miembro del Real Colegio de Médicos y Cirujanos de Glasgow, Reino Unido.</p>
            </div>
        </div>
    </div>
</template>
<style  scoped>
p {
    font-size: 20px;
    font-style: italic;
}
h4 {
    font-style: italic;
}
h1 {
    font-style: italic;
}
</style>