<template>
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="100%"
                        height="225"
                        src="@/assets/descarga (2).png"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    />
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="100%"
                        height="225"
                        src="@/assets/descarga (3).png"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    />
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="100%"
                        height="225"
                        src="@/assets/descarga (4).png"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    />
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="100%"
                        height="225"
                        src="@/assets/13152223.jpg"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    />
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="100%"
                        height="225"
                        src="@/assets/21154852.jpg"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    />
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="100%"
                        height="225"
                        src="@/assets/should_you_go_to_the_emergency_room.jpg"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    />
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </div>
            </div>
        </div>
    </div>
</template>