<template>
  <div class="orders">
    <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="note">
            <p>Ver Todas Las Citas</p>
          </div>
          <br />
          <div class="form-content">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre Servicios</th>
                  <th scope="col">Nombre Ciudades</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Móvil</th>
                  <th scope="col">Notas</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Acción</th>
                </tr>
                <template v-for="(listOrders, index) in orders">
                  <OrdersItems :orders="listOrders" :key="index" @ordersDelete="deletorders" />
                </template>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import OrdersItems from "@/components/Orders/OrdersItems.vue";
import api from "@/api.js";
export default {
  name: "Orders",
  components: {
    OrdersItems
  },
  props: {
    orders: {
      propType: Array,
      required: true
    }
  },
  data() {
    return {
      url_Orders: "/api/orders"
    };
  },
  mounted() {
    this.displayOrders();
  },
  methods: {
    async displayOrders() {
      this.orders = await api.display_Orders();
    },
    async deletorders(idorders) {
      api.getDeleteOrders(idorders);
      this.displayOrders();
    }
  }
};
</script>
<style scoped>
.container {
  margin-top: -650px;
}

.img {
  width: 100%;
}
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  font-size: 30px;
}
.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.table {
  background: white;
  opacity: 0.85;
  text-align: center;
}
@media (max-width: 1620px) {
  .note {
    margin-top: 10px;
    font-size: 20px;
  }
  .table {
    background: white;
    font-size: 15px;
  }
  th {
    font-size: 7px;
  }
  .orders {
    height: 700px;
  }
  .container {
    margin-top: 79px;
    background-size: cover;
    width: 100%;
  }

  .img {
    display: none;
  }
}
</style>