<template>
  <tr>
    <td>{{ orders.nameService}}</td>
    <td>{{ orders.nameCity }}</td>
    <td>{{ orders.name_orders}}</td>
    <td>{{ orders.email_orders}}</td>
    <td>{{ orders.phone_ordres}}</td>
    <td>{{ orders.notes_ordres}}</td>
    <td>{{ orders.date_orders}}</td>
    <td class="id">{{ orders.id}}</td>

    <td class="i">
      <button type="button" @click="DeletOrders" class="btn btndeleteorders btn-outline-danger">
        <i class="fas fa-user-minus"></i>
      </button>
    </td>
  </tr>
</template>
<script>
export default {
  name: "Citiesitms",
  components: {},
  props: {
    orders: {
      propType: Object,
      required: true
    }
  },
  methods: {
    DeletOrders() {
      this.$emit("ordersDelete", this.orders.idorders);
    }
  }
};
</script>
<style scoped>
.id {
  display: none;
}
button {
  margin: 10px;
  font-size: 10px;
  margin-top: -1px;
}
@media (max-width: 700px) {
  .btndeleteorders {
    width: 30px;
    height: 30px;
  }

  td {
    font-size: 7px;
  }
}
</style>