<template>
  <div class="Cities">
    <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="note">
            <h3>Ver Todas Las Ciudades</h3>
          </div>
          <br />
          <div class="form-content">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre Ciudades</th>
                  <th scope="col">Acción</th>
                </tr>
                <template v-for="(listcity, index) in city">
                  <Citiesitms :city="listcity" :key="index" @city-delete="deleteCity" />
                </template>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Citiesitms from "@/components/Cities/Citiesitms.vue";
import api from "@/api.js";
export default {
  name: "Cities",
  components: {
    Citiesitms
  },
  props: {
    city: {
      // propType: Array,
      // required: true,
    }
  },

  data() {
    return {};
  },
  mounted() {
    this.displaycity();
  },
  methods: {
    async displaycity() {
      this.city = await api.display_city();
    },
    async deleteCity(idcity) {
      await api.deletCity(idcity);
      this.displaycity();
    }
  }
};
</script>
<style scoped>
.container {
  margin-top: -650px;
}

.img {
  width: 100%;
}
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  font-size: 30px;
}
.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.table {
  background: white;
  opacity: 0.85;
  text-align: center;
}
@media (max-width: 1620px) {
  .note {
    margin-top: 10px;
    font-size: 20px;
  }
  .table {
    background: white;
  }
  .Cities {
  }
  .container {
    margin-top: 79px;
    background-size: cover;
    width: 100%;
  }
  .img {
    display: none;
  }
}
</style>
