<template>
  <tr>
    <td>{{ city.id_city }}</td>
    <td>{{ city.name_city }}</td>
    <td>
      <router-link :to="'/Editecities/'+city.idcity">
        <button type="button" title="Editar" class="btn btnEdite btn-outline-success">
          <i class="far fa-edit"></i>
        </button>
      </router-link>

      <button
        type="button"
        title="Borrar"
        @click="deletCity"
        class="btn btnDelete btn-outline-danger"
      >
        <i class="fas fa-user-minus"></i>
      </button>
    </td>
  </tr>
</template>
<script>
export default {
  name: "Citiesitms",
  components: {},
  props: {
    city: {
      propType: Object,
      required: true
    }
  },

  methods: {
    deletCity() {
      this.$emit("city-delete", this.city.idcity);
    }
  }
};
</script>
<style scoped>
button {
  margin: 10px;
  font-size: 10px;
  margin-top: -1px;
}
td {
  font-size: 16px;
}
@media (max-width: 400px) {
  button {
    margin: 5px;
  }
}
</style>
