<template>
  <div class="service">
    <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="note">
            <h3>Ver Todas Las Servicios</h3>
          </div>
          <br />
          <div class="form-content">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre Servicios</th>
                  <th scope="col">Acción</th>
                </tr>
                <template v-for="(listServicios, index) in services">
                  <Servicesitms
                    :services="listServicios"
                    :key="index"
                    @service-delete="deletservice"
                  />
                </template>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Servicesitms from "@/components/Servic/Servicesitms.vue";
import api from "@/api.js";
export default {
  name: "Services",
  components: {
    Servicesitms
  },
  props: {
    services: {
      propType: Array,
      required: true
    }
  },
  data() {
    return {};
  },
  mounted() {
    this.displayServices();
  },
  methods: {
    async displayServices() {
      this.services = await api.display_Services();
    },
    async deletservice(idservice) {
      api.DeletService(idservice);
      this.displayServices();
    }
  }
};
</script>
<style scoped>
.container {
  margin-top: -650px;
}

.img {
  width: 100%;
}
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  font-size: 30px;
}
.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.table {
  background: white;
  opacity: 0.85;
  text-align: center;
}

@media (max-width: 1620px) {
  .note {
    margin-top: 10px;
    font-size: 20px;
  }
  .table {
    background: white;
  }

  .container {
    margin-top: 79px;

    background-size: cover;
    width: 100%;
  }
  .img {
    display: none;
  }
}
</style>
