<template>
  <tr>
    <td>{{ services.id_services }}</td>
    <td>{{ services.name_services }}</td>
    <td>
      <router-link :to="'/Editeservices/'+services.idservice">
        <button type="button" title="Editar" class="btn btn-outline-success">
          <i class="far fa-edit"></i>
        </button>
      </router-link>
      <button
        type="button"
        title="Borrar"
        @click="deletservice"
        class="btn btnDeleteService btn-outline-danger"
      >
        <i class="fas fa-user-minus"></i>
      </button>
    </td>
  </tr>
</template>
<script>
export default {
  name: "Citiesitms",
  components: {},
  props: {
    services: {
      propType: Object,
      required: true
    }
  },
  methods: {
    deletservice() {
      this.$emit("service-delete", this.services.idservice);
    }
  }
};
</script>
<style scoped>
button {
  margin: 10px;
  font-size: 10px;
  margin-top: -1px;
}
@media (max-width: 400px) {
  button {
    margin: 5px;
  }
}
</style>