<template>
  <div class="styleaddcity">
    <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

    <section calss="container">
      <div class="form col-md-7 mx-auto">
        <div class="note">
          <h3>Agargar Nueva Ciudades</h3>
        </div>
        <br />
        <div class="form-content">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg code"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Código"
                v-model="cities.id_city"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg name"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Nombre"
                v-model="cities.name_city"
              />
            </div>
          </form>
          <button type="button" class="btnSubmit btnAddCity" @click="newcity">Añadir</button>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import api from "@/api.js";
export default {
  components: {},
  data() {
    return {
      cities: {
        id_city: "",
        name_city: ""
      }
    };
  },

  methods: {
    async newcity() {
      await api.addCities(this.cities);
      await api.display_city();
      this.$router.push("/ViewCities");
    }
  }
};
</script>
<style scoped>
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 0.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #00ce1b;
  color: #fff;
}
.form {
  margin-top: -650px;
}
img {
  width: 100%;
}

@media (max-width: 1620px) {
  .form {
    margin-top: 78px;
  }
  .note {
    margin-top: 70px;
  }
  img {
    display: none;
  }
  .btnSubmit {
    width: 30%;
  }

  .styleaddcity {
    height: 440px;
    margin-top: 200px;
  }
}
</style>
