<template>
  <div class="admin">
    <div calss="container">
      <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

      <div class="form col-md-7 mx-auto">
        <div class="note">
          <h6>Agregar Nuevo administrador</h6>
        </div>
        <br />
        <div class="form-content">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg code"
                id="exampleInputEmail1"
                placeholder="DNI"
                v-model="admin.id_admin"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg name"
                id="exampleInputEmail1"
                placeholder="Nombre && Apellido"
                v-model="admin.name_admin"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control form-control-lg email"
                id="exampleInputEmail1"
                placeholder="Correo"
                v-model="admin.Email_admin"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control form-control-lg password"
                id="myInput"
                placeholder="Contrasña"
                v-model="admin.Pssword_admin"
              />
              <label for>
                <input type="checkbox" @click="myFunction" />
                Mostrar contraseña
              </label>
            </div>
          </form>
          <button
            type="button"
            class="btnAddadmin btnSubmit btn-success btn-lg btn-block"
            @click="newadmin"
          >Añadir</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/api.js";
export default {
  components: {},
  data() {
    return {
      admin: {
        id_admin: null,
        name_admin: null,
        Email_admin: null,
        Pssword_admin: null
      }
    };
  },
  methods: {
    async newadmin() {
      await api.getadmin(this.admin);
      await api.display_admin();
      this.$router.push("/admin");
    },
    myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  }
};
</script>
<style scoped>
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;

  font-weight: bold;
  line-height: 80px;
}
h6 {
  font-size: 30px;
}
.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 0.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #00ce1b;
  color: #fff;
}
.form {
  margin-top: -650px;
}
img {
  width: 100%;
}

@media (max-width: 1620px) {
  .form {
    margin-top: 78px;
  }
  .note {
    margin-top: 70px;
  }
  img {
    display: none;
  }
  .btnSubmit {
    width: 30%;
  }

  .admin {
    height: 490px;
    margin-top: 150px;
  }
}
</style>
