<template>
  <div id="app">
    <Nav v-if="showNav()" />
    <router-view></router-view>
  </div>
</template>

<script>
import Nav from "@/components/Nav/Nav.vue";
export default {
  name: "App",
  components: {
    Nav
  },
  data() {
    return {};
  },

  methods: {
    showNav() {
      if (this.$route.path === "/" || this.$route.path === "/Login") {
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>
<style >
</style>
