<template>
  <div class="styleservice">
    <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

    <div calss="container">
      <div class="form col-md-7 mx-auto">
        <div class="note">
          <h3>Agregar Nueva Servicios</h3>
        </div>
        <br />
        <div class="form-content">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg code"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Código"
                v-model="service.id_services"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg name"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Nombre"
                v-model="service.name_services"
              />
            </div>
          </form>
          <button
            type="button"
            class="btn btNAddService btnSubmit btn-success btn-lg btn-block"
            @click="newService"
          >Añadir</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/api.js";
export default {
  components: {},
  data() {
    return {
      service: {
        id_services: "",
        name_services: ""
      }
    };
  },
  methods: {
    async newService() {
      await api.addService(this.service);
      await api.display_Services();
      this.$router.push("/viewservices");
    }
  }
};
</script>
<style scoped>
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;

  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 0.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #00ce1b;
  color: #fff;
}
.form {
  margin-top: -650px;
}
img {
  width: 100%;
}
@media (max-width: 1620px) {
  .form {
    margin-top: 78px;
  }
  .note {
    margin-top: 70px;
  }
  img {
    display: none;
  }
  .btnSubmit {
    width: 30%;
  }
  .styleservice {
    height: 440px;
    margin-top: 200px;
  }
}
</style>
