<template>
  <div class="login">
    <section id="login">
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <div id="login-form" class="form" action method="post">
                <h3 class="text-center text-info">Login</h3>
                <div
                  v-show="warningMail"
                  id="warning"
                  class="alert alert-danger"
                  role="alert"
                >Verifica tu correo !</div>
                <div
                  v-show="warningPassword"
                  id="warning"
                  class="alert alert-danger"
                  role="alert"
                >Verifica tu contraseña !</div>

                <div class="form-group">
                  <label for="username" class="text-info">Correo :</label>
                  <br />
                  <input
                    type="text"
                    v-model="mailLogin"
                    name="username"
                    id="username"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="password" class="text-info">contraseña:</label>
                  <br />
                  <input
                    type="password"
                    v-model="passwordLogin"
                    name="password"
                    id="myInput"
                    class="form-control"
                  />
                  <label for>
                    <input type="checkbox" @click="myFunction" />
                    Mostrar contraseña
                  </label>
                </div>
                <div class="form-group">
                  <button class="btn btnlogin btn-info btn-md" @click="Login">Entrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import api from "@/api.js";
export default {
  name: "Login",
  props: {},
  data() {
    return {
      mailLogin: null,
      passwordLogin: null,
      logged: [],
      warningMail: false,
      warningPassword: false,
      id_actual_user: "",
      role: ""
    };
  },
  methods: {
    async Login() {
      this.logged = await api.login(this.mailLogin, this.passwordLogin);
      if (this.logged.log_mensajes === "correo incorrecto") {
        this.warningMail = true;
      } else if (this.logged.log_mensajes === "contraseña incorrecta") {
        this.warningPassword = true;
      } else {
        this.id_actual_user = this.logged.idadmin;
        this.role = this.logged.role;
        this.goToHomePage();
      }
    },
    goToHomePage() {
      let id_actual_user = this.id_actual_user;
      this.$router.push("/ViewCities/" + id_actual_user);
    },
    myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

@media (max-width: 700px) {
  .img {
    display: none;
  }
}
</style>
