<template>
  <div id="editeservices">
    <EditService :servicesedit="servicesedit" @edit-services="editeservice" />
  </div>
</template>
<script>
import EditService from "./EditService.vue";
import api from "@/api.js";
export default {
  name: "editeservices",
  components: {
    EditService
  },
  data() {
    return {
      servicesedit: [],
      idservice: null
    };
  },
  mounted() {
    this.editservices();
  },
  methods: {
    async editservices(idservice) {
      idservice = this.$route.params.idservice;
      this.servicesedit = await api.editdisplayservices(idservice);
    },
    async editeservice(localservices) {
      let idservice = localservices.idservice;
      await api.updateSrevice(idservice, localservices);
    }
  }
};
</script>