<template>
  <div class="editService">
    <div calss="container">
      <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

      <div class="form col-md-7 mx-auto">
        <div class="note">
          <p>Actualizar Servicios</p>
        </div>
        <br />
        <div class="form-content">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="id"
                v-model="localservices.id_services"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Nombre"
                v-model="localservices.name_services"
              />
            </div>
            <button
              type="button"
              class="btnAdd btnSubmit btn-success btn-lg btn-block"
              @click="updateSrevices"
            >Editar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    servicesedit: {
      propType: Object,
      required: true
    }
  },
  data() {
    return {
      localservices: {}
    };
  },
  watch: {
    servicesedit: {
      immediate: true,
      handler: function(newservices) {
        this.localservices = JSON.parse(JSON.stringify(newservices));
      }
    }
  },
  methods: {
    async updateSrevices() {
      this.$emit("edit-services", this.localservices);
      this.$router.push("/viewservices");
    }
  }
};
</script>
<style scoped>
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 0.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #00ce1b;
  color: #fff;
}
.form {
  margin-top: -650px;
}
img {
  width: 100%;
}
@media (max-width: 1620px) {
  .editService {
    margin-top: 728px;
    background: -webkit-linear-gradient(left, #00ffdd, #11c571);
    height: 600px;
  }

  .img {
    display: none;
  }
}
</style>
