<template>
  <div id="Editadmine">
    <EditAdmin :adminedit="adminedit" @edit-admin="editadmin" />
  </div>
</template>
<script>
import EditAdmin from "./EditAdmin.vue";
import api from "@/api.js";
export default {
  name: "Editadmine",
  components: {
    EditAdmin
  },
  props: {},
  data() {
    return {
      adminedit: [],
      idadmin: null
    };
  },
  mounted() {
    this.Ediitadmin();
  },
  methods: {
    async Ediitadmin(idadmin) {
      idadmin = this.$route.params.idadmin;
      this.adminedit = await api.editdisplayadmin(idadmin);
    },
    async editadmin(localAdmin) {
      let idadmin = localAdmin.idadmin;
      await api.updateAdmin(idadmin, localAdmin);
    }
  }
};
</script>
