<template>
  <div class="Admin">
    <div calss="container">
      <img src="@/assets/bg-banner-portafolio.png" class="img-fluid img" alt />

      <div class="form col-md-7 mx-auto">
        <div class="note">
          <p>Actualizar Administrador</p>
        </div>
        <br />
        <div class="form-content">
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="localAdmin.id_Admin"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="localAdmin.name_Admin"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="localAdmin.Email_Admin"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                id="myInput"
                aria-describedby="emailHelp"
                v-model="localAdmin.Pssword_Admin"
              />
              <label for>
                <input type="checkbox" @click="myFunction" />
                Mostrar contraseña
              </label>
            </div>
          </form>
          <button
            type="button"
            class="btnAdd btnSubmit btn-success btn-lg btn-block"
            @click="updateadmin"
          >Editar</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/api.js";
export default {
  components: {},
  props: {
    adminedit: {
      propType: Object,
      required: true
    }
  },
  data() {
    return {
      localAdmin: {}
    };
  },

  watch: {
    adminedit: {
      immediate: true,
      handler: function(newadmin) {
        this.localAdmin = JSON.parse(JSON.stringify(newadmin));
      }
    }
  },
  created() {
    api.display_Admin();
  },

  methods: {
    async updateadmin() {
      this.$emit("edit-admin", this.localAdmin);
      this.$router.push("/Admin");
    },
    myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  }
};
</script>
<style scoped>
.note {
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #00ff00, #119bc5);
  color: #fff;

  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 0.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #00ce1b;
  color: #fff;
}
.form {
  margin-top: -650px;
}
img {
  width: 100%;
}
@media (max-width: 1620px) {
  .Admin {
    margin-top: 728px;
    background: -webkit-linear-gradient(left, #00ffdd, #11c571);
    height: 600px;
  }

  .img {
    display: none;
  }
  .btnSubmit {
    width: 30%;
  }
}
</style>
